<body>
	<!--Begining of navigation bar section-->
	<nav>
		<!--Music Player Logo div-->
		<div id="music-player-tag">
		 
            <button  id="order" (click)="viewOrders()">Track Sale</button></div>
		 
		
		 <!--Music Player Title div end-->
         <!--User Image div-->
		 <div id="user">
            <img src="./assets/img/admin-image.jpg">
        </div>
       
        <!--User Image div end-->
   </nav>
   <main>
    <!--Home Screen Carousel which is slideshown with class slideshow-->
    <div id="new-releases">
        <img src="./assets/img/download.png" (click)="upload()">
        <img src="./assets/img/remove.png" (click)="remove()">
        <img src="./assets/img/updateqnty.png" (click)="update()">
                
    </div>
    </main>
</body>
