<!DOCTYPE html>
<html>
  <head>
    <title>Medical Inventory Signup</title>
    
  </head>
  <body>
    <div class="signup-container">
      <h1>Medical Store</h1>
      <h2>Sign up</h2>
      <img src="./assets/img/medical.jpg" width="500px" height="641px" style="position: absolute ;left: 180px;top: 30px;">
      <form>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" name="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password:</label>
          <input type="password" id="confirm_password" [(ngModel)]="confirm_password" [ngModelOptions]="{standalone: true}" name="confirm_password" required>
        </div>
        <button type="submit" (click)="save()">Sign up</button>
      </form>
      <p>Already have an account? 
        <nav><a [routerLink]='["/login"]'><span>Log in here</span></a></nav>
      
    </div>
  </body>
</html>

