

<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-grievance">MEDI Shop</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a (click)="view()"><span class ="las la-igloo"></span>
                        <span>My Orders</span></a>
                </li>
                <li>
                    <a (click)="home()"><span class ="las la-igloo"></span>
                        <span>Search</span></a>
                </li>
            
                 <li>
                    <a (click)="logout()"><span class ="las la-user-circle"></span>
                        <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="">
                    <span class="las la-bars"></span>
                </label>
                Products
            </h2>
            <!--<div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here"/>
            </div>-->
            <div class="user-wrapper">
                <!--Search Bar div-->
                <div id="search-bar-utility">
                 <div id="search-bar">
                <form>
                   
                    <input type="text" placeholder="Search..." [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" name="search">
                    <button type="submit" (click)="search()">Search</button>
                    <!--Search Icon-->
                    <i class="fas fa-search"></i>
                </form>
                </div>
                </div>
            <!--Search Bar div end-->
                <img src="./assets/img/images.png" width="30px" height="30px" alt="">
                <div>
                    
                    <small>{{email}}</small>
                </div>
            </div>
        </header>
        <main>
            <div><h1>STOCK DETAILS:</h1>
        
            </div>
        
        <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Product Name</th>
                
                
                <th>Amount</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of StockData; let i = index;" >
                
                <td>{{product.name}}</td>
                
                
                <td>{{product.amount}}</td>
                
            </tr>
        </tbody>
    </table>
     
        
                
            
        </main>
    </div>
</body>
